@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="platform-search" class="container h-100">
    <div class="row">
        <div class="form-group col-md-5">
            <div class="btn-group">
                <label>Blockchain Platform</label>
                @Html.DropDownListFor(x => x.Platforms,
                     new SelectList(Model.Platforms, "Id", "Title"),
                     htmlAttributes: new
                     {
                         @class = "form-control select select-inverse",
                         id = "platforms"
                     })
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="btn-group">
                <!-- Upload  -->
                <form id="file-upload-form" class="uploader">
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <div>Select a file or drag here</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                            <span id="file-upload-btn" class="btn btn-primary btn-wide mrm">Select a file</span>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="ethereum" class="container h-100 form-padding">
    <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
        <div class="form-group">
            <div class="col-md-10">
                <label for="applicationName">Application Name</label>
                <input type="text" class="form-control" id="applicationName" placeholder="Application Name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="displayName">Display Name</label>
                <input type="text" class="form-control" id="displayName" placeholder="Display Name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-primary btn-wide mrm">Save</button>
            </div>
        </div>
    </form>
</div>

<div id="hyperledger" class="container h-100">
    <div class="row h-100 justify-content-center align-items-center align-self-center">
        <label>Not available</label>
    </div>
</div>

<div id="corda" class="container h-100">
    <div class="row h-100 justify-content-center align-items-center align-self-center">
        <label>Not available</label>
    </div>
</div>